<!-- Nav -->
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index">Nedy - Bootstrap Newsletter Sign-Up Landing Page</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="top-navbar-1">
            {{#if obj.islogin}}
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a>Hi {{obj.nickname}} </a>
                </li>
                <li>
                    <a href='/user/profile'>my profile</a>
                </li>
                <li>
                    <a href='/user/logout'>logout</a>
                </li>

            </ul>
            {{else}}
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href='/user/login'>login</a>
                </li>
                <li>
                    <a href='/user/registration'>registration</a>
                </li>
            </ul>
            {{/if}}

        </div>
    </div>
</nav>

<!-- Search content -->
<div class="top-content">
    <div class="container">

        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text">
                <h1 class="wow fadeInLeftBig">Search Recipes you want to cook!!</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 subscribe wow fadeInUp">
                <form class="form-inline" role="form" action="/recipe/search" method="post">
                    <div class="form-group">
                        <label class="sr-only" for="subscribe-email">Email address</label>
                        <input type="text" name="search" placeholder="Enter Search Content..." class="subscribe-email form-control" id="subscribe-email">
                    </div>
                    <button type="submit" class="btn">Search
                        <i class="fa fa-angle-right"></i>
                    </button>
                </form>
                <div class="success-message"></div>
                <div class="error-message"></div>
            </div>
        </div>

    </div>
</div>

<!-- Content of Recipes -->
<div class="col-md-12">
    <div class="container">
        <div class="row">

            {{#each obj.recipelist}}
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card" id="iPhone X">

                    <img class="card-img-top img-fluid" src="..{{imagePath}}" alt="iphone" /> 


                    <div class="card-body">
                        <a href="/recipe/id/{{_id}}">
                            <h3 class="card-title">{{title}}</h3>
                            <a href="#" class="card-btn" data-toggle="modal" data-target="#myModal01">Details</a>
                    </div>

                    <div class="modal fade" id="myModal01" tabindex="-1" role="dialog" aria-labelledby="exampleModal" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="exampleModal01">{{title}}</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        &times;
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p class="card-text">

                                        {{#each ingredients}} ingredient: {{name}} amount: {{amount}} {{/each}} steps: {{#each steps}} {{this}} {{/each}}

                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{/each}}

        </div>
    </div>
</div>