{{#if message}}
<div class="alert alert-danger" role="alert">
    {{message}}
</div>
{{/if}}

<p>Email: {{user.user_name}}</p>
<p>Nick Name: {{user.nick_name}}
    <a href="user/">edit</a>
</p>

<p>profile</p>
<p>
    <a href='/'>home</a>
</p>
<a href="/recipe/add">add new recipe</a>

<h2>my recipes:</h2>
{{#each recipeList}}
    <li>{{title}}&nbsp;
        <a href="/recipe/id/{{_id}}">go to</a>
    </li>
    
{{/each}}
<h2>followed recipes:</h2>
{{#each followedList}}
    <li>{{title}}&nbsp;
        <a href="/recipe/id/{{_id}}">go to</a>
    </li>
    
{{/each}}
