<h1>recipe</h1>

{{#if isAuthor}}
<a href="/recipe/edit/{{recipe._id}}">Edit</a>
<a href="/recipe/delete/{{recipe._id}}">delete</a>
{{/if}}

<p>tittle: {{recipe.title}}</p>
<p>Author:{{user.nick_name}}</p>
<h3>ingredients</h3>
<p>
    {{#each recipe.ingredients}}
    <li>{{this.name}},{{this.amount}}</li>
    {{/each}}
</p>
<h3>steps:</h3>
<p>
    {{#each recipe.steps}}
    <li>{{this}}</li>
    {{/each}}
</p>
<h3>comments:</h3>
<p>
    {{#each recipe.comments}}
    <li>{{this.poster}},{{this.comment}}</li>
    {{/each}}
</p>
{{#if isFollowed}}
    <a href="/recipe/unfollow/{{recipe._id}}">unfollow</a>
{{else}}
    <a href="/recipe/follow/{{recipe._id}}">follow</a>
{{/if}}

